body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
    background: linear-gradient(#eeeeee, #bbbbbb);
}

button {
    padding: 3px;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 5px;
}

table, td, tr {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

textarea {
    width: 350px;
    height: 125px;
    resize: none;
    margin: 5px;
    font-family: 'Courier New';
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

#activeKeyCell {
    text-align: left;
    vertical-align: bottom;
}

#btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#decryptForm {
    display: none;
}

#decryptPageCell {
    text-align: right;
    vertical-align: bottom;
}

#decryptTitleCell {
    color: #b5b5b5;
    cursor: pointer;
}

#sampleDecrypted {
    padding: 1px 3px !important;
    border-radius: 5px !important;
    line-height: 1.5 !important;
    font-size: 14px;
}

#versionCell {
    background: transparent url(/images/icon16.png) no-repeat left center;
    padding-left: 20px;
    color: gray;
}

#versionHR {
    border-top: 1px solid lightgray;
    margin-bottom: 10px;
}