button {
    padding: 3px;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 5px;
}

table, td, tr {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

textarea {
    width: 400px;
    height: 150px;
    resize: none;
    margin: 5px;
}

#btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}